<section class="contact">
   <div class="contact__container">
      <h2 class="contact__title title">
         ЗВ'ЯЖІТЬСЯ З НАМИ
         <span class="contact__title-bg title__bg"></span>
      </h2>
      <!-- <div class="contact__inner"> -->
      <div class="contact__img-bg">
         <img class="contact__img-bg" src="../images/fphone.png" alt="phone">
      </div>
      <p class="contact__text">
         Залишіть свій номер телефону і ми обов'язково вам передзвонимо!
      </p>
      <form class="contact__form">
         <input type="tel" placeholder="Номер телефону" class="contact__form-input">
         <button class="contact__button button">Відправити</button>
      </form>
      <!-- </div> -->
   </div>
</section>