<section class="desc">
   <!-- Добалена анимация для картники 2hand.png, для демонстрации расскоментируйте свойство css -->
   <img class="desc__phone-bg" src="../images/2hand.png" alt="phone">
   <div class="desc__container container">
      <div class="desc__inner">
         <h2 class="desc__title title">ЯК ЦЕ ПРАЦЮЄ
            <span class="title__bg"></span>
         </h2>
         <div class="desc__info">
            <p class="desc__text">Квізи – це тести, вікторини та опитування, які можна використовувати не лише для
               розваги. За останні кілька років тести стали повноцінним маркетинговим інструментом, який допомагає
               просуванню будь-якого проекту.</p>
            <p class="desc__text desc__text_t">Квіз допомагає брендам краще дізнатися споживача, отримати недорогі ліди
               і досягти більшої залучення аудиторії.</p>
            <span class="desc__span">Квізи – інструмент із високою конверсією.</span>
         </div>
         <div class="desc__images">
            <picture class="desc__images-lg">
               <source srcset="../images/21.webp" media="(min-width: 480px)">
               <source srcset="../images/211.webp" media="(max-width: 425px)">
               <img src="../images/21.webp" alt="women">
            </picture>
            <div class="desc__small-images">
               <picture class="desc__images-m-1">
                  <source srcset="../images/22.webp" media="(min-width: 480px)">
                  <source srcset="../images/222.webp" media="(max-width: 425px)">
                  <img src="../images/22.webp" alt="women">
               </picture>
               <picture class="desc__images-m-2">
                  <source srcset="../images/23.webp" media="(min-width: 480px)">
                  <source srcset="../images/233.webp" media="(max-width: 425px)">
                  <img src="../images/23.webp" alt="woman">
               </picture>
            </div>
         </div>
      </div>
   </div>
</section>