<section class="help">
   <img class="help__img-bg" src="../images/4bg.png" alt="rocket">
   <div class="help__container container">
      <div class="help__inner">
         <h2 class="help__title title">
            ЯК КВІЗИ ДОПОМАГАЮТЬ У РОБОТІ
            <span class="help__title-bg title__bg"></span>
         </h2>
         <p class="help__text text">
            Бренди використовують ігрову динаміку квізів, щоб привернути увагу аудиторії і при цьому не злякати їх
            прямою
            рекламою свого продукту.
         </p>
         <p class="help__text text text_mt">
            Як опитувальники допомагають просуванню будь-якого проекту:
         </p>
         <div class="help__items">
            <div class="items-help">
               <div class="items-help__img">
                  <img src="../images/svg/folder.svg" alt="folder">
               </div>
               <h4 class="items-help__title">
                  Збирають інформацію про потенційних покупців
               </h4>
            </div>
            <div class="items-help">
               <div class="items-help__img">
                  <img src="../images/svg/money.svg" alt="folder">
               </div>
               <h4 class="items-help__title">
                  Підвищують лідогенерацію і знижують вартість
               </h4>
            </div>
            <div class="items-help">
               <div class="items-help__img">
                  <img src="../images/svg/graph-bar.svg" alt="folder">
               </div>
               <h4 class="items-help__title">
                  Збільшують кількість переходів на ресурс
               </h4>
            </div>
         </div>
         <button class="help__button button modal-btn">Дізнатись детальніше</button>
      </div>
   </div>
</section>