<main class="main">
   <img class="main__main-bg" src="../images/main-bg.png" alt="phone">
   <span class="main__circle-lg"></span>
   <span class="main__circle-top"></span>
   <span class="main__circle-left"></span>
   <span class="main__circle-sm"></span>
   <div class="main__containter container">
      <div class="main__inner">
         <div class="main__logo">
            <img src="../images/rocketLogo.webp" alt="rocket-logo">
            <span class="main__logo-text">IQUIZ:</span>
         </div>
         <h1 class="main__title">ДОПОМАГАЄМО ОТРИМАТИ НОВІ ЗАЯВКИ</h1>
         <p class="main__text">Почніть використовувати квізи на сайті та в соціальних мережах та отримайте додатковий
            дохід</p>
         <button class="main__button button modal-btn">Дізнатись детальніше</button>
      </div>
   </div>
</main>