<div class="modal fix-block">
   <div class="modal__contant">
      <div class="modal__header">
         <h1 class="modal__title">Title</h1>
         <button class="close-btn">x</button>
      </div>
      <p class="modal__text">
         Lorem ipsum dolor sit amet consectetur. Mauris varius tempus platea rhoncus amet cursus donec. At commodo
         tristique risus sapien aliquam commodo eu in. Lacus lorem dolor ac a fusce scelerisque eget egestas lorem. Diam
         gravida interdum habitant sit.
         Lorem ipsum dolor sit amet consectetur. Mauris varius tempus platea rhoncus amet cursus donec. At commodo
         tristique risus sapien aliquam commodo eu in. Lacus lorem dolor ac a fusce scelerisque eget egestas lorem. Diam
         gravida interdum habitant sit.
      </p>
   </div>
</div>