<section class="quize">
   <div class="quize__container container">
      <div class="quize__inner">
         <h2 class="quize__title title">ЩО ТАКЕ КВІЗ-ТЕСТИ
            <span class="quize__title-bg title__bg"></span>
         </h2>
         <p class="quize__text text">Дослідження показують, що користувачі відкривають 82% квізів, які трапляються їм у
            стрічці, та активно діляться результатами після проходження.</p>
         <p class="quize__text text text_mt">
            Які існують основні типи та види квіз-тестів:
         </p>
      </div>
   </div>
   <div class="quize__container qsw">
      <img class="qsw__img-bg" src="../images/3bg.png" alt="note">
      <div class="swiper qsw__swiper">
         <div class="swiper-wrapper qsw__wrapper">
            <div class="swiper-slide slide-qsw">
               <img class="slide-qsw__img" src="../images/31.png" alt="party">
               <h4 class="slide-qsw__title">Розважальний</h4>
               <p class="slide-qsw__text">
                  Це вікторина найпростішого формату. Застосовуються для залучення користувачів до проекту,
                  збільшення охоплення та лояльності його аудиторії, підвищення впізнаваності компанії, розміщення
                  нативної реклами
               </p>
            </div>
            <div class="swiper-slide slide-qsw">
               <img class="slide-qsw__img" src="../images/32.png" alt="sales">
               <h4 class="slide-qsw__title">Продавець</h4>
               <p class="slide-qsw__text">
                  Ці тести створюються посилення потреби людини у певних товарі чи послузі. Такі опитувальники
                  припускають хороше знання пропонованого продукту та інтересів клієнтів
               </p>
            </div>
            <div class="swiper-slide slide-qsw ">
               <img class="slide-qsw__img" src="../images/33.png" alt="laptop">
               <h4 class="slide-qsw__title">Залучаючий</h4>
               <p class="slide-qsw__text">
                  У цьому випадку продукт не пропонується прямо, такі тести швидше допомагають відвідувачеві
                  зрозуміти, що йому хочеться. Товар або послуга згадується як би ненароком, між справою.
               </p>
            </div>
            <div class="swiper-slide slide-qsw">
               <img class="slide-qsw__img" src="../images/34.png" alt="magnifying glass">
               <h4 class="slide-qsw__title">Для захоплення лідів</h4>
               <p class="slide-qsw__text">
                  Це анкета, яка заповнюється для отримання інформації. Відмінність квізів Для захоплення лідів від
                  інших у тому, що результат проходження тесту не видається відразу, а надсилається на email.
               </p>
            </div>
         </div>
         <div class="swiper-pagination"></div>
      </div>
   </div>
</section>